
<div class="container">
  <h1 class="text-center">All your bookings!</h1>
    <table class="table">
    <thead>
      <tr>
        <th scope="col"> Start Time </th>
        <th scope="col"> End Time </th>
        <th scope="col"></th>
        <th scope="col">Review</th>
      </tr>
    </thead>
    <tbody>
      <% current_user.bookings.each do |booking| %>
        <tr>
          <td> <%=booking.start_time.to_formatted_s(:short)  %> </td>
          <td> <%= booking.end_time.to_formatted_s(:short) %> </td>
          <td> <%= link_to 'See details', booking_path(booking), class: "link" %> </td>
          <td> <% unless booking.review_id.nil? %>
               <%= Review.find(booking.review_id).description %> | <%= Review.find(booking.review_id).rating %>
               <% end %> 
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

