<h1><%= @booking.creature.name %></h1>
<li> <%= @booking.start_time %> - <%= @booking.end_time %> </li>
<li> <%= link_to 'Review', new_booking_review_path(@booking) %></li>


<%= link_to 'go back', creature_path(@booking.creature) %>
