<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="col">
        <% if @creature.photo.present? %>
        <%=  cl_image_tag @creature.photo, width:400, height: 400, :crop=>"fill" %>
        <% end %>
      </div>
      <div class="col">
        <h1><%= @creature.name %></h1>
        <p>Abilities: <%= @creature.super_power %></p>
        <% if @creature.description.present?%>
          <p>Description: <%= @creature.description %></p>
        <% end %>
        <p>Price: <strong><%= @creature.price %></strong> </p>
        <ul class="list-inline">

          <li class="list-inline-item">
            <% if policy(@creature).destroy?%>
            <%= link_to 'Edit Creature', edit_creature_path, class: "btn btn-primary" %>
            <% end %>
          </li>
          <li class="list-inline-item">
              <% if policy(@creature).destroy?%>
            <%= link_to 'Delete Creature', creature_path(@creature), method: :delete, class: "btn btn-primary", data: { confirm: 'Are you sure?' }  %>
            <% end %>
          </li>
        </ul>

        <h2> Reviews </h2>
        <% if @reviews.count > 0 %>
        <table class="table">
          <tr>
            <th>Description</th>
            <th>Rating</th>
          </tr>
          <% @reviews.each do |review| %>
          <tr>
            <td> <p> <%= review.description %> </p> </td>
            <td> <p> <%= review.rating %> </p> </td>
          </tr>
          <% end %>
            <tr>
              <td> Average Rating </td>
              <td>
                <% @all_ratings = [] %>
                <% @reviews.each do |review| %>
                <% @all_ratings << review.rating %>
                <% end %>
                <%= @all_ratings.sum/@all_ratings.length.to_f.round(2) %> </td>
            </tr>
          <% else %>
          <p> Book now and be the first to write a review for <%= @creature.name %> </p>
          <% end %>
          </table>
          <ul class="list-inline">
          <li class="list-inline-item"><%= link_to "Book #{@creature.name}", new_creature_booking_path(@creature), class: "btn btn-primary" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
   <li class="list-inline-item"> <%= link_to 'Back', creatures_path, class: "btn btn-success" %></li>
</div>


