<h1><%= @creature.name %></h1>

<p>Abilities: <%= @creature.super_power %></p>

<p>Description: <%= @creature.description %></p>

<p>Price: <strong><%= @creature.price %></strong> </p>

<% @creature.bookings.each do |booking| %>
  <li> <%=booking.start_time  %> - <%= booking.end_time %> <%= link_to 'See details', booking_path(booking) %></li>
  <li> <%= link_to 'Edit', edit_creature_booking_path(booking) %> <%= link_to 'Destroy', booking_path(booking), method: :delete %></li>
  <li> <%= Review.find(booking.review_id).description  %> - <%= Review.find(booking.review_id).rating  %> </li>
<% end %>





<p>
  <%= link_to 'Edit', edit_creature_path%> |
  <%= link_to 'Delete', creature_path(@creature), method: :delete, data: { confirm: 'Are you sure?' }  %>
</p>

<p><%= link_to 'Back', creatures_path %></p>

<p><%= link_to 'Book a creature', new_creature_booking_path(@creature) %></p>
