<div class="navbar-wagon fixed-top">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <%= image_tag "https://i.pinimg.com/564x/1e/d0/6d/1ed06d97ae9907762982a78bb9a867a0.jpg?b=t", height: 50 %>
  <% end %>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <% if user_signed_in? %>
    <!-- Links when logged in -->
    <%= link_to "All Creatures", creatures_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "My Bookings", my_bookings_bookings_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "My Creatures",  my_creatures_creatures_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <!-- Avatar with dropdown menu -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <%= image_tag "https://i.pinimg.com/564x/73/cd/15/73cd159cca67f10db67e6907821b5b66.jpg?b=t", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <% else %>
    <!-- Login link (when logged out) -->
    <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to t(".sign_up", default: "Sign-up"), new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>
  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "Bookings", my_bookings_bookings_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        <li><%= link_to "Creatures",  my_creatures_creatures_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
            <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
