<h1 class="text-center">Post review for</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for [@booking, @review] do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <%= f.input :description %>
        <%= f.input :rating, collection: 0..5 %>
      <ul class="list-inline">
        <li class="list-inline-item"> <%= f.submit "Add review", class: "btn btn-primary" %> </li>
      <% end %>
      <li class="list-inline-item"> <%= link_to 'Back', creature_path(@booking.creature), class: "btn btn-primary" %> </li>
      </ul>
    </div>
  </div>
</div>
